/* Nodes */
circle.IX {
    fill: red;
    stroke: #E34234;
}

circle.NZ {
    fill: black;
    stroke: #707070;
}

circle.AU {
    fill: yellow;
    stroke: #FFFFCC;
}

circle.other {
    fill: green;
    stroke: limegreen;
}

circle.priv {
    fill: blue;
    stroke: lightblue;
}

.edge.p2p {
    stroke: orange;
}

.edge.s2s {
    stroke: red;
    stroke-width: 3px;
}

.edge.p2c,.edge.c2p{
    stroke: lightgreen;
    stroke-dasharray: 6,3;
}

.edge.unk {
    stroke: cyan;
    stroke-dasharray: 8,2;
}

text.nodeLegendLabel {
    fill: white;
    font-size: 95%;
    text-anchor: start;
    display: initial !important;
}

text.edgeLegendLabel {
    fill: white;
    font-size: 95%;
    display: initial !important;
    padding: 0px;
}

.edgeLegendItem {
    height: 30px;
}

.edgeLegendItemSVG {
    background: transparent;
}

/* Drupal adds an icon to list elements, overwritting */
#content-area ul li {
    background: initial;
    padding-left: 20px;
}

.nodeLegendItem {
    height: 40px;
}

.nodeLegendItemSVG {
    background: transparent;
}

.legendHeader {
    color: white;
    /* max-width: 80px; */
}

h3.legendHeader, h3.creditsHeader {
    padding-left: 10px;
    font-size: 110%;
    line-height: 1.5;
}

h4.legendHeader {
    padding-left: 20px;
    font-size: 95%;
    line-height: 1.2;
}

h5.legendHeader {
    padding-left: 20px;
    font-size: 90%;
    line-height: 1.1;
}

/* This fixes the placement of the navigation bar in Drupal */
#navigation {
    position: absolute;
    top: 0px;
    left: 0px;
}

