/* Nodes */
.IX circle {
    fill: red;
    stroke: #E34234;
}

.NZ circle {
    fill: black;
    stroke: #707070;
}

.AU circle {
    fill: yellow;
    stroke: #FFFFCC;
}

.other circle {
    fill: green;
    stroke: limegreen;
}

.priv circle {
    fill: blue;
    stroke: lightblue;
}

.edge.p2p {
    stroke: orange;
}

.edge.s2s {
    stroke: red;
    stroke-width: 3px;
}

.edge.p2c,.edge.c2p{
    stroke: lightgreen;
    stroke-dasharray: 6,3;
}

.edge.undefined {
    stroke: cyan;
    stroke-dasharray: 8,2;
}

.nodeLegendLabel {
    fill: white;
    font-size: 18px;
}

.edgeLegendLabel {
    fill: white;
    font-size: 18px;
}

.edgeLegendItem {
    height: 40px;
}

.nodeLegendItem {
    height: 40px;
}

.legendHeader {
    color: white;
}

h3.legendHeader {
    padding-left: 10px;
}

h4.legendHeader {
    padding-left: 20px;
}
