/* Nodes */
.IX circle {
    fill: red;
    stroke: #E34234;
}

.NZ circle {
    fill: black;
    stroke: #707070;
}

.AU circle {
    fill: yellow;
    stroke: #FFFFCC;
}

.other circle {
    fill: green;
    stroke: limegreen;
}

.priv circle {
    fill: blue;
    stroke: lightblue;
}

.edge.p2p {
    stroke: red;
}

.edge.p2c .edge.c2p {
    stroke: blue;
    stroke-dasharray: 6,3;
}

.edge.unk {
    stroke: yellow;
}
